@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["ConfirmMessage"] <a asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>.
</p>







